<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <style>
        table th, table td{
            padding: 3px;
        }
    </style>
</head>
<body>
<h2>Users</h2>
<table border = "3">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Last name</th>
        <th>Age</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="user : ${usersList}">
        <td th:utext="${user.getId()}">Id</td>
        <td th:utext="${user.getName()}">Name</td>
        <td th:utext="${user.getLastName()}">Last name</td>
        <td th:utext="${user.getAge()}">Age</td>

        <td> <form th:method="GET" th:action="@{/users/{id}/edit(id=${user.getId()})}" th:object="${user}">
            <input type="submit" value="Edit user">
        </form>
        </td>

        <td> <form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}" >
            <input type="submit" value="Delete user">
        </form>
        </td>

    </tr>
    <form th:method="GET" th:action="@{/users/new}" >
        <input type="submit" value="Add user">
    </form>
</table>
</body>
</html>